.container {
  display: flex;
  flex: 0 0 100%;
}

.main {
  flex: 1 1 auto;
  padding: 20px;
  min-width: 0;
  background-color: #d9e6e6;
}

#user-input {
  font-size: 1.2rem;
  width: 65vw;
  min-height: max(14vh, 200px);
  max-height: 500px;
  resize: none;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0.9rem;
  border-radius: 1vw;
}

.controls {
  width: 65vw;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-family: "Tourney";
  font-size: 4rem;
  font-weight: 400;
  box-sizing: border-box;
  margin: 2vh;
}

.output {
  margin-top: 20px;
  background: #ffffff;
  padding: 10px;
  border-radius: 0.5vw;
}

.controls label,
.output,
button {
  font-size: 1.3rem;
}

button {
  padding: 6px 12px;
  cursor: pointer;
  background-color: white;
  border-color: rgb(118, 118, 118);
  border-radius: 0.5vw;
  font-family: monospace;
  box-shadow: 2px 2px #9daaaa;
}

button:hover {
  background-color: rgb(228, 228, 228);
}

.output h3 {
  font-weight: 400;
}

.output {
  border: rgb(118, 118, 118) solid 1px;
}
